<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Treasure Hunt Game</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="container">

    <h1>Level {{level}} :</h1>
    <p>{{question}}</p> 
    <button type="button" onclick="showHint()"> Hint</button>

    <p id="hint-text" style="display:none; color:#ffcc00;"></p>
    <img id="hint-img" style="display:none; width:300px; margin-top:10px;">
    
    <form method="POST">
        <input type="text" name="code" placeholder="Enter code">
        <button type="submit">Submit</button>
    </form>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <script>

    function showHint() {

        const hint = {{hint | tojson}};

        const text = document.getElementById("hint-text");
        const img = document.getElementById("hint-img");

        text.style.display = "block";
        text.innerHTML = hint.text;
        if (hint.image){
            img.style.display = "block";
            img.src = "/static/"+ hint.image;
        }
    }

</script>

    </div>
</body>

</html>