<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Treasure Hunt Game</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="container">

    <p>Answers can only be number. You have as much attempt you need for each level</p>
    <p>Clue are available by clicking on the button hunt button</p>
    <p>NB : for every hint you use, you will have to give your boyfriend one more kiss 😉 </p>
    <p>Push the button to start ! </p>
    <a href="/game/1">
        <button>Start</button>
    </a>    
    </div>
</body>

</html>